:root {
    font-family: Inter, system-ui, Avenir,Arial, Helvetica, sans-serif;
    line-height:1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    background-color: #212a38;
}
.main-content {
    max-width:900px;
    margin: 0 auto;
    text-align: center;
}